/* parallax background */
.parallax { 
	background: linear-gradient( rgba(0, 0, 0, 0.733), rgba(0, 0, 0, 0.5) ), url("../images/forest.jpg"); 
    height: 900px; 
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
	background-size: cover;
}
/* shaping backgrounds for the parallax transition */
.transitionShapeTop {
	margin-top: -700px;
	width: 100%;
	height: 700px;
	clip-path: polygon(50% 78%, 0% 100%, 100% 100%);
	background-color: white;
}
.transitionShapeBottom {
	margin-bottom: -700px;
	width: 100%;
	height: 701px;
	clip-path: polygon(51% 21%, 0 0, 100% 0);
	background-color:white;
}
/* start of the hex styling */
* {
	margin: 0;
	padding: 0;
}
#categories {
	overflow: hidden;
	width: 90%;
	margin: 0 auto;
}
.clr:after {
	content: "";
	display: block;
	clear: both;
}
#categories li {
	position: relative;
	list-style-type: none;
	width: 27.85714285714286%;
	padding-bottom: 32.16760145166612%;
	float: left;
	overflow: hidden;
	visibility: hidden;
	transform: rotate(-60deg) skewY(30deg);
}
#categories li:nth-child(3n+2) {
	margin: 0 1%;
}
#categories li:nth-child(6n+4) {
	margin-left: 0.5%;
}
#categories li:nth-child(6n+4),
#categories li:nth-child(6n+5),
#categories li:nth-child(6n+6) {
	margin-top: -6.9285714285%;
	margin-bottom: -6.9285714285%;
	transform: translateX(50%) rotate(-60deg) skewY(30deg);
}
#categories li:nth-child(6n+4):last-child,
#categories li:nth-child(6n+5):last-child,
#categories li:nth-child(6n+6):last-child {
	margin-bottom: 0%;
}
#categories li * {
	position: absolute;
	visibility: visible;
}
#categories li>div {
	width: 100%;
	height: 100%;
	text-align: center;
	color: #fff;
	overflow: hidden;
	transform: skewY(-30deg) rotate(60deg);
}
/* HEX CONTENT */
#categories li img {
	left: -100%;
	right: -100%;
	width: auto;
	height: 100%;
	margin: 0 auto;
}
#categories div h1,
#categories div p {
	width: 90%;
	padding: 0 5%;
	background-color: rgba(112, 155, 180, 0.8);
	background-color: rgba(112, 155, 180, 0.8);
	font-family: 'Raleway', sans-serif;
	transition: top .2s ease-out, bottom .2s ease-out, .2s padding .2s ease-out;
}
#categories li h1 {
	bottom: 110%;
	font-style: italic;
	font-weight: normal;
	font-size: 1.5em;
	padding-top: 100%;
	padding-bottom: 100%;
}
#categories li h1:after {
	content: '';
	display: block;
	position: absolute;
	bottom: -1px;
	left: 45%;
	width: 10%;
	text-align: center;
	z-index: 1;
	border-bottom: 2px solid #fff;
}
#categories li p {
	text-align: center;
	padding-top: 50%;
	top: 110%;
	padding-bottom: 50%;
}
/* HOVER EFFECT  */
#categories li div:hover h1 {
	text-align: center;
	width: 100%;
	bottom: 50%;
	margin-bottom: 0px;
	padding-bottom: 10%;
	padding-right: 0px;
}
#categories li div:hover p {
	text-align: center;
	width: 100%;
	top: 50%;
	padding-top: 10%;
	padding-right: 0px;
}
#fork {
	position: fixed;
	top: 0;
	left: 0;
	color: #000;
	text-decoration: none;
	border: 1px solid #000;
	padding: .5em .7em;
	margin: 1%;
	transition: color .5s;
	overflow: hidden;
}
#fork:before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 130%;
	height: 100%;
	background: #000;
	z-index: -1;
	transform-origin: 0 0;
	transform: translateX(-100%) skewX(-45deg);
	transition: transform .5s;
}
#fork:hover {
	color: #fff;
}
#fork:hover:before {
	transform: translateX(0) skewX(-45deg);
}
