
body {
	
	font-family:arial;
	font-size:12px;
	background-image: url("../images/background.png");
	margin:0;
	padding:0;
	overflow: hidden;	
}

a {
	text-decoration:none;
	color: #3e8ed7;
}

a:hover {
	color: #61b7e6;
}	

.container {
	width:700px;
	height:100%;
	position:absolute;
	top:50px;
	left:50%;
	margin-left:-350px;
}



/* HEXAGON STARTS HERE */
.hex {
	width:150px;
	height:86px;
	background-color: #ccc;
	background-repeat: no-repeat;
	background-position: 50% 50%;			
	-webkit-background-size: auto 173px;							
	-moz-background-size: auto 173px;							
	-ms-background-size: auto 173px;							
	-o-background-size: auto 173px;							
	position: relative;
	float:left;
	margin:25px 5px;
	text-align:center;
	zoom:1;
}
		
	.hex.hex-gap {
		margin-left: 86px;
	}
	
	.hex a {
		display:block;
		width: 100%;
		height:100%;
		text-indent:-9999em;
		position:absolute;
		top:0;
		left:0;
	}

	.hex .corner-1,
	.hex .corner-2 {
		position: absolute;
		top:0;
		left:0;
		width:100%;
		height:100%;
		background: inherit;								
		z-index:-2;						
		overflow:hidden;
		-webkit-backface-visibility: hidden;
		-moz-backface-visibility: hidden;
		-ms-backface-visibility: hidden;
		-o-backface-visibility: hidden;			
		backface-visibility: hidden;			
	}
	
	.hex .corner-1 {
		z-index:-1;
		-webkit-transform: rotate(60deg);
		-moz-transform: rotate(60deg);
		-ms-transform: rotate(60deg);
		-o-transform: rotate(60deg);
		transform: rotate(60deg);
	}
	
	.hex .corner-2 {
		-webkit-transform: rotate(-60deg);
		-moz-transform: rotate(-60deg);
		-ms-transform: rotate(-60deg);
		-o-transform: rotate(-60deg);
		transform: rotate(-60deg);
	}
	
	.hex .corner-1:before,
	.hex .corner-2:before {
		width: 173px;
		height:	173px;
	  content: '';
	  position: absolute;
	  background: inherit;
	  top:0;
	  left: 0;
	  z-index: 1;
	  background: inherit;
	  background-repeat:no-repeat;
		-webkit-backface-visibility: hidden;
		-moz-backface-visibility: hidden;
		-ms-backface-visibility: hidden;
		-o-backface-visibility: hidden;	
		backface-visibility: hidden;				  
	}			
	

	.hex .corner-1:before {
		-webkit-transform: rotate(-60deg) translate(-87px, 0px);
		-moz-transform: rotate(-60deg) translate(-87px, 0px);
		-ms-transform: rotate(-60deg) translate(-87px, 0px);
		-o-transform: rotate(-60deg) translate(-87px, 0px);
		transform: rotate(-60deg) translate(-87px, 0px);	
	  -webkit-transform-origin: 0 0;
	  -moz-transform-origin: 0 0;
	  -ms-transform-origin: 0 0;
	  -o-transform-origin: 0 0;
	  transform-origin: 0 0;
	}			
	
	.hex .corner-2:before {
		-webkit-transform: rotate(60deg) translate(-48px, -11px);
		-moz-transform: rotate(60deg) translate(-48px, -11px);
		-ms-transform: rotate(60deg) translate(-48px, -11px);
		-o-transform: rotate(60deg) translate(-48px, -11px);
		transform: rotate(60deg) translate(-48px, -11px);	
		bottom:0;
	}		


	
	/* Custom styles*/
	.hex .inner {		
        color:#eee;
    }
    	.hex .inner2 {		
        color:#eee;
        text-shadow:
		-1px -1px 0 #000,
		1px -1px 0 #000,
		-1px 1px 0 #000,
        1px 1px 0 #000;
        font-size: 1.2em;
	}
	
	.hex h4 {
		font-family: 'Josefin Sans', sans-serif;		
		margin:0;			
	}
	
	.hex hr {
		border:0;
		border-top:1px solid #eee;
		width:60%;
		margin:15px auto;
	}
	
	.hex p {
		font-size:16px;
		font-family: 'Kotta One', serif;
		width:80%;
		margin:0 auto;
	}

	.hex.hex-1 {
		background:  #557F9A;
	}
	
	.hex.hex-2 {
        background: #557F9A;
        
    }
	
	.hex.hex-3 {
		background:  #557F9A;
	}

	/* 404 page glitch */
	
/* body {
  font-family: 'Roboto', sans-serif;
  font-size: 10vw;
  height: 100vh;
  display: flex;
  background: mix(black, #3B403A, 70%);
}

svg {
  display: none;
}

.distortion {
  margin: auto;
  text-align: center;
  animation: transform 2.5s steps(10) infinite, glitch 3.2s infinite;
  color: #276096;
  
  
}

@keyframes glitch {
  45% {
    filter: none;
  }
  46% {
    filter: url(#dist-01);
  }
  47% {
    filter: url(#dist-02);
  }
  48% {
    filter: url(#dist-03);
  }
  50% {
    filter: none;
  }
  95% {
    filter: none;
  }
  96% {
    filter:  url(#dist-02);
  }
  97% {
    filter:  url(#dist-04);
  }
}

@keyframes transform {
  0% {
    transform: translate(-5%, -5%) skew(-10deg) scale(1.05);
  }
  1% {
    transform: none;
  }
  88% {
    transform: none;
  }
  89% {
    transform: translate(5%, 10%) scale(1.05);
  }
  90% {
    transform: none;
  }
} */
.bg {
    width: 100%;
    height: 100%;
    
    position: absolute;
    top: 0;
    left: 0;
    z-index: -2;
    
    background: url('http://www.helwyssocietyforum.com/wp-content/uploads/2011/12/Best-top-desktop-hd-wall-wood-wallpaper-wood-wallpapers-wall-picture-image-241.jpg') no-repeat center center;
    background-size: cover;

    transform: scale(1.1);
  }
