/* GENERAL  */
@import 'reset';

$lightblue: #148884;
.me {
	width: 40em;
  	height: 40em;
	background-image: url("../images/me.png");
	position: fixed;
	left: 0;
	bottom: 0;
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
}
.container-fluid {
	background-color: rgba(255, 255, 255, 0.425);
	height: auto;
}
.main section.page1 h1 {
	font-size: 10em;
	font-family: 'Abril Fatface';
	position: fixed;
	top:20%;
	left: 20%;
	color: grey;
}
.main section.page1 h2 {
	font-size: 3em;
	font-family: 'Abril Fatface';
	position: fixed;
	top: 36%;
	left: 65%;
	color: #148884;
}
.icon-scroll,
.icon-scroll:before {
  position: absolute;
  left: 50%;
}
.icon-scroll {
  width: 40px;
  height: 70px;
  margin-left: -5px;
  bottom: 5%;
  margin-top: -35px;
  box-shadow: inset 0 0 0 1px #148884;
  border-radius: 25px;
}
.icon-scroll:before {
  content: '';
  width: 8px;
  height: 8px;
  background:  #148884;
  margin-left: -4px;
  top: 8px;
  border-radius: 4px;
  -webkit-animation-duration: 1.5s;
          animation-duration: 1.5s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-name: scroll;
		  animation-name: scroll;
}
@-webkit-keyframes scroll {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    -webkit-transform: translateY(46px);
            transform: translateY(46px);
  }
}
@keyframes scroll {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    -webkit-transform: translateY(46px);
            transform: translateY(46px);
  }
}

/* START OF THE HEX STYLING */
* {
	margin: 0;
	padding: 0;
}
#categories {
	overflow: hidden;
	width: auto;
	padding:auto;
	margin-left: 10%;
	background: transparent;
}
.clr:after {
	content: "";
	display: block;
	clear: both;
}
#categories li {
	position: relative;
	list-style-type: none;
	width: 27.85714285714286%;
	padding-bottom: 32.16760145166612%;
	float: left;
	overflow: hidden;
	visibility: hidden;
	transform: rotate(-60deg) skewY(30deg);
}
#categories li:nth-child(3n+2) {
	margin: 0 1%;
}
#categories li:nth-child(6n+4) {
	margin-left: 0.5%;
}
#categories li:nth-child(6n+4),
#categories li:nth-child(6n+5),
#categories li:nth-child(6n+6) {
	margin-top: -6.9285714285%;
	margin-bottom: -6.9285714285%;
	transform: translateX(50%) rotate(-60deg) skewY(30deg);
}
#categories li:nth-child(6n+4):last-child,
#categories li:nth-child(6n+5):last-child,
#categories li:nth-child(6n+6):last-child {
	margin-bottom: 0%;
}
#categories li * {
	position: absolute;
	visibility: visible;
}
#categories li>div {
	width: 100%;
	height: 100%;
	text-align: center;
	color: #fff;
	overflow: hidden;
	transform: skewY(-30deg) rotate(60deg);
}
/* HEX CONTENT */
#categories li img {
	left: -100%;
	right: -100%;
	width: auto;
	height: 100%;
	margin: 0 auto;
}
#categories div h1,
#categories div p {
	width: 90%;
	padding-right:50px;
	background-color: rgba(20,136,132, 0.8);
	background-color: rgba(20,136,132, 0.8);
	font-family: 'Raleway', sans-serif;
	transition: top .2s ease-out, bottom .2s ease-out, .2s padding .2s ease-out;
}
#categories li h1 {
	bottom: 110%;
	font-style: italic;
	font-weight: normal;
	font-size: 1.5em;
	padding-top: 100%;
	padding-bottom: 100%;
		a{
			left: 25%;
			bottom: 10%;
			color: inherit;
			text-decoration: underline;
		}
		.vikings {
			left: 15%;
			bottom: 10%;
			color: inherit;
			text-decoration: underline;
		}
			.mythic {
			left: 15%;
			bottom: 10%;
			color: inherit;
			text-decoration: underline;
		}
}
#categories li h1:after {
	content: '';
	display: block;
	position: absolute;
	bottom: -1px;
	left: 45%;
	width: 10%;
	text-align: center;
	z-index: 1;
	border-bottom: 2px solid #fff;
}
#categories li p {
	text-align: center;
	padding-top: 50%;
	top: 110%;
	padding-bottom: 50%;
}

/* HOVER EFFECT ON HEX */
#categories li div:hover h1 {
	text-align: center;
	width: 100%;
	bottom: 50%;
	margin-bottom: 0px;
	padding-bottom: 10%;
	padding-right: 0px;
}
#categories li div:hover p {
	text-align: center;
	width: 100%;
	top: 50%;
	padding-top: 10%;
	padding-right: 0px;
}
#fork {
	position: fixed;
	top: 0;
	left: 0;
	color: #000;
	text-decoration: none;
	border: 1px solid #000;
	padding: .5em .7em;
	margin: 1%;
	transition: color .5s;
	overflow: hidden;
}
#fork:before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 130%;
	height: 100%;
	background: #000;
	z-index: -1;
	transform-origin: 0 0;
	transform: translateX(-100%) skewX(-45deg);
	transition: transform .5s;
}
#fork:hover {
	color: #fff;
}
#fork:hover:before {
	transform: translateX(0) skewX(-45deg);
}

// BEGIN MEDIA QUERIES 
// PHONE STYLES -- SM
@media only screen and (min-width: 200px) { 
.main section.page1 h1 {
	font-size: 5em;
	font-family: 'Abril Fatface';
	position: fixed;
	top: 2%;
	left: 5px;
	color: grey;
}
.main section.page1 h2 {
	font-size: 3em;
	font-family: 'Abril Fatface';
	position: fixed;
	top: 26%;
	left: 15%;
	color: #148884;
}
.icon-scroll,
.icon-scroll:before {
  position: absolute;
  left: 75%;
}
.icon-scroll:before {
  content: '';
  width: 16px;
  height: 16px;
  background:  #148884;
  margin-left: -20px;
  top: 20px;
  border-radius: 25px;
  -webkit-animation-duration: 1.5s;
          animation-duration: 1.5s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-name: scroll;
		  animation-name: scroll;
		  animation-direction:reverse;
}
.icon-scroll {
  width: 50px;
  height: 100px;
  margin-left: -5px;
  bottom: 5%;
  margin-top: -10px;
  box-shadow: inset 0 0 0 1px #148884;
  border-radius: 50px;
}
#categories {
	overflow: hidden;
	width: auto;
	padding:auto;
	height: 600px;
	margin-left: 10%;
	background: transparent;
}
li.hex1 {
	position: absolute;
	top: 49%;
	left: 5%;
}
li.hex2 {
	position: absolute;
	top: 70%;
	left: -15%;
}
li.hex3 {
	position: absolute;
	bottom: 20%;
	left: 3%;
}
li.hex4 {
	position: absolute;
	bottom: -5%;
	left: -36.5%;
}
li.hex5 {
	position: absolute;
	bottom: 34.85%;
	left: -15%;
}
#categories li {
	position: relative;
	list-style-type: none;
	width: 40.85714285714286%;
	padding-bottom: 47.16760145166612%;
	float: left;
	overflow: hidden;
	visibility: hidden;
	transform: rotate(-60deg) skewY(30deg);
}
}

// TABLET STYLES -- MD 
@media only screen and (min-width: 600px) {
	.main section.page1 h1 {
	font-size: 10em;
	font-family: 'Abril Fatface';
	position: fixed;
	top:20%;
	left: 20%;
	color: grey;
}
.main section.page1 h2 {
	font-size: 3em;
	font-family: 'Abril Fatface';
	position: fixed;
	top: 37%;
	left: 65%;
	color: #148884;
}
.icon-scroll,
.icon-scroll:before {
  position: absolute;
  left: 50%;
}
.icon-scroll {
  width: 40px;
  height: 70px;
  margin-left: -5px;
  bottom: 5%;
  margin-top: -35px;
  box-shadow: inset 0 0 0 1px #148884;
  border-radius: 25px;
}
.icon-scroll:before {
  content: '';
  width: 8px;
  height: 8px;
  background:  #148884;
  margin-left: -4px;
  top: 8px;
  border-radius: 4px;
  -webkit-animation-duration: 1.5s;
          animation-duration: 1.5s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-name: scroll;
		  animation-name: scroll;
		  animation-direction: normal;
} 
.main section.page1 .techLink {
	text-align: right;
	color: grey;
	position: fixed;
	top: 55%;
	left: 75%;
	font-size: 2em;
	cursor: pointer;
}
.main section.page1 .aboutLink {
	color: grey;
	position: fixed;
	top: 50%;
	left: 75%;
	font-size: 2em;
	cursor: pointer;
}
#categories li {
	position: relative;
	list-style-type: none;
	width: 27.85714285714286%;
	padding-bottom: 32.16760145166612%;
	float: left;
	overflow: hidden;
	visibility: hidden;
	transform: rotate(-60deg) skewY(30deg);
}
// food
li.hex1 {
	position: absolute;
	top: 36%;
	left: 16.5%;
}
// willy
li.hex2 {
	position: absolute;
	top: 0%;
	left: -27%;
}
// swords
li.hex3 {
	position: absolute;
	bottom: 0.2%;
	left: 3%;
}
// witcher
li.hex4 { 
	position: absolute;
	bottom: 0%;
	left: 31.5%;
}
// trees
li.hex5 {
	position: absolute;
	bottom:36%;
	left: -12%;
}

    
}

// DESKTOP STYLES -- LRG
@media only screen and (min-width: 900px) { 
    
}

// DESKTOP STYLES -- XL 
@media only screen and (min-width: 1200px) { 
    
}